body {
  font-family: avenir next, sans-serif;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.terminal {
  background-color: black;
  height: 500px;
  max-width: 800px;
  width: 100%;

  font-family: monospace;
  color: white;

  padding: 5px;
  overflow-y: auto;
}

.terminal-input {
  background-color: black;
  border: none;
  color: white;
  width: 80%;
  outline: none;
}

.history-output-err {
  /* red */
  color: rgb(255, 51, 52);
}
